.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.adrs {
width: 231px;
height: 81px;
left: 215px;
top: 2205px;
}

.ftr{
width: 1600px;
height: 252px;
background: #2F303A
}
a{
    text-decoration: none;
}
ul,li{
    text-decoration: none;
}