.logo{
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}
.adrs {
width: 231px;
height: 81px;
left: 215px;
top: 2205px;
}

.footer{
width: 1600px;
height: 252px;
top: 2094px;
}